<div class="limiter animated fadeIn">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                            New Account
                        </span>

                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">The Email is required</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="email" name="email" [(ngModel)]="user.email" required email placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['name'].errors" class="text-danger animated fadeIn">The Name is required</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="name" [(ngModel)]="user.nombre" required minlength="2" placeholder="Full Name">
                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">At least 6 digits</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="password" [(ngModel)]="user.password" required minlength="6" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="remember" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                                Remember user
                                </label>
                    </div>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                                Create
                            </button>
                </div>

            </form>
        </div>
    </div>
</div>